/* Header */
.header {
  background-color: transparent;
  color: #222;
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;
  height: 78px;
  z-index: 3;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Header states */
.header--hidden {
  transform: translateY(-100px);
}
.header--scroll {
  background-color: #fff;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.03);
}
@media (min-width: 768px) {
  .header--menu-open {
    background-color: #fff;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.03);
  }
}

/* Header container */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

/* Navigation skipper */
.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}
.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Header logo */
.header__logo {
  align-items: center;
  display: flex;
  height: auto;
  max-width: 115px;
  overflow: hidden;
}
.header__logo img {
  max-width: 100%;
}
.header__logo a {
  display: flex;
  align-items: center;
  color: #fff;
  
  transition: color 0.2s ease-in-out;
}
.header__logo a:hover {
  color: #fff;
}
.header--scroll .header__logo a {
  color: #5E35B1;
}
.header--scroll .header__logo a:hover {
  color: #5E35B1;
}
@media (min-width: 768px) {
  .header--menu-open .header__logo a {
    color: #5E35B1;
  }
  .header--menu-open .header__logo a:hover {
    color: #5E35B1;
  }
}