:root {
  --custom-color: #5e6ab8;
}

.wrapper {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  background-color: var(--custom-color);
  height: 50vh;
  min-height: 500px;
}

.button {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: var(--custom-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-transform: uppercase;
}

.moreContent {
  margin-top: 20px;
  font-size: 14px;
  color: #f0f0f0;
  border: 2px solid yellow;
}