:root {
  --default-background-color: #dddddd;
  --default-text-color: #333333;
}

.exampleIsland {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  padding: 2rem;
  border-radius: 16px;
}