{# Buttons macro #}
{% macro buttons(items, button1_style, button2_style) %}

  {% macro render_button(item) %}

    {% set href = item.button_link.url.href %}
    {% if item.button_link.url.type == "EXTERNAL" %}
      {% if href is not string_startingwith("tel:") %}
        {% set href = href|escape_url %}
      {% endif %}
    {% endif %}
    {% if item.button_link.url.type == "PHONE_NUMBER" %}
      {% set href = "tel:" + href %}
    {% endif %}
    {% if item.button_link.url.type == "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}    
    {% set rel = [] %}
    {% if item.button_link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}
    {% if item.button_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}    
      <a
        class="button
        {% if loop.index == 1 %}{{ button1_style }}{% endif %}
        {% if loop.index == 2 %}{{ button2_style }}{% endif %}"
        href="{{ href }}"
        {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
      >
        <span>{{ item.button_text }}</span>
      </a>
  {% endmacro %}

  {% for item in items %}
    {{ render_button(item) }}
  {% endfor %}

{% endmacro %}

{# Module styles #}
{% require_css %}
  <style>
    {% scope_css %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Boxes grid alignment #}
{% set boxes_grid_alignment = "boxes--grid-left" %}
{% if module.style.boxes.boxes_alignment.horizontal_align == "LEFT" %}
  {% set boxes_grid_alignment = "boxes--grid-left" %}
{% elif module.style.boxes.boxes_alignment.horizontal_align == "RIGHT" %}
  {% set boxes_grid_alignment = "boxes--grid-right" %}
{% elif module.style.boxes.boxes_alignment.horizontal_align == "CENTER" %}
  {% set boxes_grid_alignment = "boxes--grid-center" %}
{% endif %}

<div class="boxes {{ boxes_grid_alignment }}" x-data>
  <div class="boxes__grid">
    {% for box in module.boxes %}
      <div class="box box--{{ loop.index }}" x-intersect.once="$el.classList.add('in-view')">
        {# Image #}
        {% if box.box_content_type == "image" and box.box_image.src %}
          <img src="{{ box.box_image.src }}?noresize" alt="{{ box.box_image.alt }}" width="{{ box.box_image.width }}" height="{{ box.box_image.height }}">
        {% endif %}
        {# Customer Quote #}
        {% if box.box_content_type == "customer_quote" %}
          <div class="box__review {{ module.style.quote.background_gradient }}" itemscope itemtype="https://schema.org/Review">
            <blockquote itemprop="reviewBody">
              {{ box.quote }}
            </blockquote>
            {% if box.quote_by_name %}
              <footer>
                <cite>
                  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{ box.quote_by_name }}</span>{% if box.quote_by_company %},<span itemprop="affiliation" itemscope itemtype="https://schema.org/Organization"><span itemprop="name">{{ box.quote_by_company }}</span></span>{% endif %}
                  </span>
                </cite>
              </footer>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="boxes__wrap">
    <div class="boxes__container half-layout__container" x-intersect.once="$el.classList.add('in-view')">
      <div class="boxes__body{% if module.style.body_text.use_ticks %} list-ticks{% endif %}">
        {% if module.tag %}
          <span class="tag">{{ module.tag }}</span>
        {% endif %}
        {{ module.body_text }}
      </div>
      {% if module.buttons is iterable and module.buttons|length > 0 %}
        <div class="boxes__actions" x-intersect.once="$el.classList.add('in-view')">
          {{ buttons(module.buttons, module.style.buttons.button_1_style, module.style.buttons.button_2_style) }}
        </div>
      {% endif %}   
    </div>
  </div>
</div>