.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes__container {
  padding: 64px 0;  
}
.boxes__body,
.boxes__actions {
  padding-left: 16px;
  padding-right: 16px;
}
.boxes__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}
.box {
  border-radius: 12px;
  overflow: hidden;
  background-color: #222;
}
.boxes--grid-left .box--1 {
  transition-delay: 0.2s;
}
.boxes--grid-left .box--2 {
  transition-delay: 0.1s;
}
.boxes--grid-left .box--3 {
  transition-delay: 0s;
}
.box--1 {
  grid-row: 1 / 7;
  grid-column: 1 / 7;  
}
.box--2 {
  grid-row: 1 / 7;
  grid-column: 7 / 13;
}
.box--3 {
  grid-row: 7 / 13;
  grid-column: 1 / 13;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__review {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  padding: 36px;
  border-radius: 12px;
}
.box__review blockquote p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.box__review [itemprop="author"] {
  font-weight: bold;
}
.box__review [itemprop="affiliation"] {
  display: block;
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 668px) {
  .boxes__grid {
    aspect-ratio: 1 / 1;
  }  
  .box--1 {
    grid-row: 1 / 7;
    grid-column: 3 / 13;  
  }
  .boxes--grid-right .box--1 {
    grid-column: 1 / 11;  
  }
  .box--2 {
    grid-row: 7 / 12;
    grid-column: 1 / 7;  
  }
  .boxes--grid-right .box--2 {
    grid-column: 7 / 13;
  }
  .box--3 {
    grid-row: 7 / 13;
    grid-column: 7 / 13; 
  }
  .boxes--grid-right .box--3 {
    grid-column: 1 / 7; 
  }
  .boxes--grid-left .box__review {
    text-align: right;
  }  
  .boxes--grid-right .box__review {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .boxes {
    gap: 10px;
  }  
  .boxes--grid-left {
    flex-direction: row;
  }  
  .boxes--grid-right {
    flex-direction: row-reverse;
  }
  .boxes__wrap {
    width: 50%;
  }
  .boxes--grid-left .boxes__container {
    margin: 0 auto 0 0;
    padding: 0 0 0 62px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out 0.3s, transform 0.6s ease-out 0.3s;
  }
  .boxes--grid-left .boxes__container.in-view {
    opacity: 1;
    transform: translateX(0);
  }  
  .boxes--grid-right .boxes__container {
    margin: 0 0 0 auto;
    padding-right: 62px;
  }
  .boxes--grid-left .box {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .boxes--grid-left .box.in-view {
    opacity: 1;
    transform: translateX(0);
  }  
  .boxes__grid {
    width: 50%;  
  }
}
@media (min-width: 1268px) {
  .box__review {
    padding: 40px;
  }
  .box__review blockquote p {
    font-size: 22px;
  }  
}

