.chorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.03);
}
.chorizontal__container {
  padding: 64px 0;
}
.chorizontal__body,
.chorizontal__actions {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
.chorizontal__chitems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 10px;
}
.chitem {
  display: block;
  padding: 0;
}
.chitem__link,
.chitem__non-link {
  display: block;
  overflow: hidden;
  height: 100%;
  color: inherit;
  text-decoration: none;
  background-color: #222;
  color: #fff;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  position: relative;
}
.chitem__link:hover,
.chitem__link:active,
.chitem__link:focus {
  background-color: #222;
  color: #fff;
  text-decoration: none;
}
.chitem h3 {
  color: #fff;
}
.chitem:hover,
.chitem:hover h3 {
  color: #fff;
}
.chitem__background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chitem__overlay {
  padding: 36px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;  
}
.chitem--style1 .chitem__overlay {
  position: absolute;
  height: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.8) 0%, transparent 100%);
  justify-content: flex-end;
}
.chitem--style2 .chitem__overlay {
  justify-content: flex-start;
  height: 100%;
}
.chitem--style2 .chitem__overlay--shadow {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, transparent 40%);
}
.chitem--style3 .chitem__overlay {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, transparent 100%);
}
.chitem .chitem__overlay h3 {
  margin: 0;
}
.chitem__image {
  display: block;
  width: 115%;
  height: auto;
}
.chitem__hover {
  padding: 36px;
  position: absolute;
  z-index: 3;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.chitem__link:hover .chitem__hover,
.chitem__link:active .chitem__hover,
.chitem__link:focus .chitem__hover {
  opacity: 1;
}
.chitem__hover h3 {
  margin-bottom: 0;
}
.chitem--style1 .chitem__hover p,
.chitem--style1 .chitem__hover ul,
.chitem--style1 .chitem__overlay p,
.chitem--style1 .chitem__overlay ul,
.chitem--style2 .chitem__hover p,
.chitem--style2 .chitem__hover ul,
.chitem--style2 .chitem__overlay p,
.chitem--style2 .chitem__overlay ul {
  display: none;
}
.chitem__hover-icon {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 22px;
  height: 22px;
  color: #fff;
}
.chitem .list-ticks ul li::before {
  color: #fff;
}

@media (min-width: 668px) {
  .chorizontal__chitems {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .chitem {
    flex: 0 0 calc(50% - 5px);
  }
}
@media (min-width: 1024px) {
  .chorizontal-scroll-wrapper {
    min-height: 200vh;
  }
  .chorizontal {
    gap: 0;
    flex-direction: column;
    height: calc(100vh - 20px);
    overflow: hidden;
    position: sticky;
    top: 10px;
    z-index: 3;
    justify-content: space-between;
  }  
  .chorizontal__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .chorizontal__container {
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
  }
  .chorizontal__body {
    text-align: left;
    flex: 0 0 58%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .chorizontal__body.in-view {
    opacity: 1;
    transform: translateX(0);
  }   
  .chorizontal__actions {
    text-align: right;
    flex: 0 0 34%;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;    
    /* text-align: left; */
  }
  .chorizontal__actions.in-view {
    opacity: 1;
    transform: translateX(0);
  }   
  .chorizontal__chitems {
    width: 100%;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding: 0 0 20px 20px;
    will-change: transform;
    transition: transform 0.05s linear;
    overflow: visible;
    align-self: flex-end;
    display: flex;
    align-items: stretch;
    min-width: 0;
  }
  .chitem {
    flex: 0 0 auto;
    height: 100%;
    padding: 0 20px 0 0;
    container-type: inline-size;
    container-name: chitem;
  }
  .chitem__hover p {
    display: block;
    margin-right: 48px;
  }
  .chitem--style1 .chitem__overlay p,
  .chitem--style1 .chitem__overlay ul {
    display: block;
  }
  .chitem--style2 .chitem__overlay p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;    
  }  
  .chitem__hover p:last-child,
  .chitem__overlay p:last-child {
    margin-bottom: 0;
  }  
}
@media (max-width: 1023px) {
  .chorizontal__chitems {
    transform: translate3d(0, 0, 0) !important;
  }
  .chitem--style3 .chitem__link,
  .chitem--style3 .chitem__non-link {
    aspect-ratio: auto;
  }    
}
@media (min-width: 1268px) {
  .chitem__overlay {
    padding: 40px;
  }
  .chitem__hover {
    padding: 40px;
  }
  .chitem__hover-icon {
    top: 40px;
    right: 40px;
  }  
}

