.cvertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.03);
}
.cvertical__container {
  padding: 64px 0;
}
.cvertical__body,
.cvertical__actions {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
.cvertical__cvitems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 10px;
}
.cvitem {
  display: block;
  padding: 0;
}
.cvitem__link,
.cvitem__non-link {
  display: block;
  overflow: hidden;
  height: 100%;
  color: inherit;
  text-decoration: none;
  background-color: #222;
  color: #fff;
  border-radius: 12px;
  aspect-ratio: 4 / 3;
  position: relative;
}
.cvitem__link:hover,
.cvitem__link:active,
.cvitem__link:focus {
  background-color: #222;
  color: #fff;
  text-decoration: none;
}
.cvitem h3 {
  color: #fff;
}
.cvitem:hover,
.cvitem:hover h3 {
  color: #fff;
}
.cvitem__background-image {
  position: absolute;
  inset: 0;  
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cvitem__overlay {
  padding: 36px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;    
}
.cvitem--style1 .cvitem__overlay {
  position: absolute;
  height: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.8) 0%, transparent 100%);
  justify-content: flex-end;
}
.cvitem--style2 .cvitem__overlay {  
  justify-content: flex-start;
  height: 100%;  
}
.cvitem--style2 .cvitem__overlay--shadow {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, transparent 40%);
}
.cvitem--style3 .cvitem__overlay {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, transparent 100%);
}
.cvitem .cvitem__overlay h3 {
  margin: 0;
}
.cvitem__image {
  display: block;
  width: 115%;
  height: auto;
}
.cvitem__hover {
  padding: 36px;
  position: absolute;
  z-index: 3;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.cvitem__link:hover .cvitem__hover,
.cvitem__link:active .cvitem__hover,
.cvitem__link:focus .cvitem__hover {
  opacity: 1;
}
.cvitem__hover h3 {
  margin-bottom: 0;
}
.cvitem--style1 .cvitem__hover p,
.cvitem--style1 .cvitem__hover ul,
.cvitem--style1 .cvitem__overlay p,
.cvitem--style1 .cvitem__overlay ul,
.cvitem--style2 .cvitem__hover p,
.cvitem--style2 .cvitem__hover ul,
.cvitem--style2 .cvitem__overlay p,
.cvitem--style2 .cvitem__overlay ul {
  display: none;
}
.cvitem__hover-icon {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 22px;
  height: 22px;
  color: #fff;
}
.cvitem .list-ticks ul li::before {
  color: #fff;
}

@media (min-width: 668px) {
  .cvertical__cvitems {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cvitem {
    flex: 0 0 calc(50% - 5px);
  }
}
@media (min-width: 1024px) {
  .cvertical-scroll-wrapper {
    min-height: 200vh;
  }
  .cvertical {
    gap: 10px;
    flex-direction: row;
    height: calc(100vh - 20px);
    overflow: hidden;
    position: sticky;
    top: 10px;
    z-index: 3;
  }  
  .cvertical__wrap {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .cvertical__container {
    margin: 0 0 0 auto;
    padding: 80px 62px 80px 0;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out 0.3s, transform 0.6s ease-out 0.3s;    
  }
  .cvertical__container.in-view {
    opacity: 1;
    transform: translateX(0);
  }  
  .cvertical__body,
  .cvertical__actions {
    text-align: left;
  }  
  .cvertical__cvitems {
    width: 50%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    padding: 20px 0 0 0;
    will-change: transform;
    transition: transform 0.05s linear;
  }
  .cvitem {
    flex: 0 0 auto;
    padding: 0 20px 20px 0;
    container-type: inline-size;
    container-name: cvitem;    
  }
  .cvitem--style1 .cvitem__hover p,
  .cvitem--style1 .cvitem__hover ul,  
  .cvitem--style1 .cvitem__overlay p,
  .cvitem--style1 .cvitem__overlay ul {
    display: block;
  }
  .cvitem--style2 .cvitem__overlay p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;    
  }
  .cvitem__hover p:last-child,
  .cvitem__overlay p:last-child {
    margin-bottom: 0;
  }  
}
@media (max-width: 1023px) {
  .cvertical__cvitems {
    transform: translate3d(0, 0, 0) !important;
  }
  .cvitem--style3 .cvitem__link,
  .cvitem--style3 .cvitem__non-link {
    aspect-ratio: auto;
  }  
}
@media (min-width: 1268px) {
  .cvitem__overlay {
    padding: 40px;
  }
  .cvitem__hover {
    padding: 40px;
  }
  .cvitem__hover-icon {
    top: 40px;
    right: 40px;
  }  
}