/* The overflow-wrap is meant to prevent long/large words from breaking the mobile responsiveness of a page (e.g. horizontal scrolling). It is preferred to reduce font sizes on mobile to address this, with this CSS specifically helping with extreme scenarios where a reduction in font size is not possible. */

body {
  line-height: 1.6;
  overflow-wrap: break-word;
  letter-spacing: -0.02em;
}

/* Handles word breaking for a few specific languages which handle breaks in words differently. If your content is not translated into these languages, you can safely remove this.  */

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  margin: 0 0 1.5rem;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.5rem;
  padding-left: 2rem;
}
.list-ticks ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}
.list-ticks ul li {
  margin-left: 0.5rem;
  padding-left: 1.5rem;
  position: relative;  
}

.list-ticks ul li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #4CAF4F;
  font-weight: bold;
  font-size: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul.no-list li {
  margin-left: 0;
  padding-left: 0;
}

ul.no-list li::before {
  content: none;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  margin: 0;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}
