.banner {
  padding: 62px 26px 30px 26px;
  background-color: #222;
  color: #fff;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80%;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.5) 0%, transparent 100%);
  pointer-events: none;
  z-index: 1;
}
.banner__body {
  position: relative;
  z-index: 2;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__body h2 {
  color: #fff;
}
.banner__actions {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
@media (min-width: 468px) {
  .banner {
    gap: 0;
    padding: 80px 26px 80px 26px;
  }
  .banner__body {
    max-width: 60%;
    margin: 0 auto;    
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;  
  }
  .banner__body.in-view {
    opacity: 1;
    transform: translateY(0);
  }  
  .banner__actions {
    flex-direction: row;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease-out 0.2s, transform 0.8s ease-out 0.2s;  
  }
  .banner__actions.in-view {
    opacity: 1;
    transform: translateY(0);
  }  
}