.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Header Toggle */
.header-nav__toggle-button,
.header-nav__toggle-button:hover,
.header-nav__toggle-button:focus,
.header-nav__toggle-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: #222;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--top .header-nav__toggle-button {
  color: #fff;
}
.header--menu-open .header-nav__toggle-button {
  color: #222;
}

/* Header Menu */
.header-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  gap: 1rem;
}
.header-nav__item {
  font-size: 16px;
}
.header-nav__list {
  margin: 0;
  padding: 0;
}
.header-nav__link {
  color: #222;
  text-decoration: none;
  font-weight: 500;
}
.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link:active {
  text-decoration: none;
  color: #222;
}
.header--top .header-nav__link {
  color: #fff;
}
.header--menu-open .header-nav__link {
  color: #222;
}
@media (min-width: 768px) {
  .header-nav__menu {
    display: flex;
  }
}

/* Header Menu Links */
.header-nav__link--dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-nav__link--dropdown svg {
  color: #222;
  width: 10px;
  height: 10px;
  opacity: 0.5;
}
.header--top .header-nav__link--dropdown svg {
  color: #fff;
}
.header--menu-open .header-nav__link--dropdown svg {
  color: #222;
}

/* Header Mega Menus */
.header-nav__mega-menu {
  background-color: #F9F8FC;
  color: #222;
  border-radius: 12px;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  z-index: 2;
}

/* Header Menu Transitions */
.menu--enter {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.menu--enter-start {
  opacity: 0;
  transform: translateY(-10px);
}
.menu--enter-end {
  opacity: 1;
  transform: translateY(0);
}
.menu--leave {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.menu--leave-start {
  opacity: 1;
  transform: translateY(0);
}
.menu--leave-end {
  opacity: 0;
  transform: translateY(-10px);
}

/* Header Mobile Menu */
.header-nav__mobile-menu {
  background-color: #222;
  color: #fff;
  border-radius: 16px;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.header-nav__mobile-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: linear-gradient(to bottom, #222 0%, #222 50%, transparent 100%);
  pointer-events: none;
  z-index: 1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.header-nav__mobile-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(to top, #222 0%, #222 50%, transparent 100%);
  pointer-events: none;
  z-index: 1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

body.menu-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

.mobile-menu__content {
  flex: 1;
  overflow-y: auto;
  padding: 90px 26px;
  position: relative;
}

/* Mobile Menu Close */
.mobile-menu__close {
  position: absolute;
  top: 30px;
  right: 26px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

/* Mobile Menu Logo */
.mobile-menu__logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 30px 26px 10px 26px;
}
.mobile-menu__logo a {
  display: block;
  color: #fff;
}
.mobile-menu__logo a:hover {
  color: #fff;
}

.mobile-menu__content {
  display: flex;
  flex-direction: column;
}

.mobile-menu__menu {
  max-width: 200px;
}

.mobile-menu__menu-title {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  color: #A6A6A6;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.mobile-menu__list {
  list-style: none;
  margin: 0 0 1.4rem 0;
  padding: 0;
}
.mobile-menu__item {
  margin: 0;
  font-size: 18px;
}
.mobile-menu__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 0;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link:active {
  text-decoration: none;
  color: #fff;
}

.mobile-menu__feature {

}

.mobile-menu__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 10px 26px 30px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



/* Header Actions */
.header-nav__actions {
  display: none;
}
.header-nav__button {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 14px 24px;
}
@media (min-width: 468px) {
  .header-nav__actions {
    display: flex;
  }
}